{
  "trailingComma": "none",
  "semi": false,
  "arrowParens": "always",
  "singleQuote": true,
  "endOfLine": "auto",
  "printWidth": 120,
  "bracketSpacing": true,
  "quoteProps": "consistent",
  "vueIndentScriptAndStyle": true
}
